@model FichaAcademia.Dominio.Models.Ficha

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>PDF</title>
</head>
<body>
    <div class="collection">
        <div class="collection-item">
            @await Component.InvokeAsync("DadosAluno", Model.AlunoId)
        </div>

        <div class="row collection-item">
            <div class="col s6">
                <p><strong>Cadastro : </strong>@Model.Cadastro</p>
            </div>

            <div class="col s6">
                <p><strong>Validade : </strong>@Model.Validade</p>
            </div>
        </div>
    </div>

    <div class="collection">
        <div class="collection-item">
            @await Component.InvokeAsync("ListagemExercicioFicha", Model.FichaId)
        </div>
    </div>
</body>
</html>
